form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-NAME') | translate}}:
                        .col-md-10(ng-if="vm._action_=='add' && vm.isAddNew")
                            .backfiller(backfiller,ng-model="vm.selectedElderly", input-name="elderly", fetch-rows="vm.queryElderlyPromise", required='',fetch-columns="vm.fetchElderlyColumnsPromise", picker-title="挑选老人" on-select="vm.selectElerlyForBackFiller(row)", on-search="vm.searchForBackFiller(keyword)")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly','autocomplete-required')") {{ "validator.REQUIRED" | translate}}
                        .col-md-10(ng-if="vm._action_=='read' || !vm.isAddNew")
                            .form-readable {{vm.model.elderly_name}}
                        //- label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-NAME') | translate}}:
                        //- .col-md-10
                        //-     div#elderly(angucomplete-alt,input-name="elderly",minlength="1",field-required="true"t-searching='{{"label.TEXT-SEARCHING"|translate}}',text-no-results='{{"label.TEXT-NO-RESULTS"|translate}}',placeholder="",pause="400",selected-object="vm.selectElerly",remote-api-handler="vm.queryElderly",title-field="name",initial-value="vm.selectedElderly",input-class="form-control form-control-small")
                        //-     span.text-danger(ng-show="utils.vinput(this.theForm,'elderly','autocomplete-required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DISEASE_EVALUATION') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='disease_evaluation',s-tree,s-tree-data="vm.disease_evaluation",s-tree-height="200", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.base_on",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'disease_evaluation','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-SHIT') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='shit',s-tree,s-tree-data="vm.shit",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_shit",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'shit','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-groupzz
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-PEE') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='pee',s-tree,s-tree-data="vm.pee",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_pee",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'pee','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DECORATOR') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='decorator',s-tree,s-tree-data="vm.decorator",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_decorator",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'decorator','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-WC') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='wc',s-tree,s-tree-data="vm.wc",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_wc",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'wc','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-EAT') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='eat',s-tree,s-tree-data="vm.eat",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_eat",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'eat','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-TRANSFER') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='transfer',s-tree,s-tree-data="vm.transfer",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_transfer",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'transfer','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ACTIVITY') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='activity',s-tree,s-tree-data="vm.activity",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_activity",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'activity','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DRESS') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='dress',s-tree,s-tree-data="vm.dress",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_dress",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'dress','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-STAIRS') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='stairs',s-tree,s-tree-data="vm.stairs",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_stairs",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'stairs','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-BATH') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='bath',s-tree,s-tree-data="vm.bath",s-tree-height="100", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.adl_bath",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'bath','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        .col-md-2
                        .col-md-10
                            button.btn.btn-danger(ng-disabled="vm._action_=='read'",type="button",ng-click="vm.beginAssessment()") {{'button.BEGIN-ASSESSMENT'|translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ASSESSMENT-GRADE') | translate}}:
                        .col-md-10
                            input.form-control(ng-disabled="true", type='text', name='assessment_grade',ng-model='vm.model.current_nursing_assessment_grade_name',placeholder='' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'assessment_grade','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-NURSING-LEVEL') | translate}}:
                        .col-md-10(ng-if="!vm.readonly")
                            .btn-group
                                .btn.btn-primary(name='nursing_level',ng-disabled="!vm.model.current_nursing_assessment_grade",ng-repeat='nursing_level in vm.selectBinding.nursing_levels',ng-model='vm.model.nursingLevelId',ng-click='vm.setNursingLevel(nursing_level._id,nursing_level.name)',btn-radio="nursing_level._id",required='') {{nursing_level.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'nursing_level','required')") {{ "validator.REQUIRED" | translate}}
                         .col-md-10(ng-if="vm.readonly")
                            .btn-group
                                .btn.btn-primary.cursor-not-allowed(name='nursing_level',ng-repeat='nursing_level in vm.selectBinding.nursing_levels',ng-class="{'active':vm.model.nursingLevelId==nursing_level._id}") {{nursing_level.name}}



    .text-right.mt-lg
        button.btn.btn-warning(ng-if="!vm.readonly",type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(ng-if="vm._action_!=='read'",type="submit") {{'button.SAVE'|translate}}
        button.btn.btn-primary(ng-if="vm.readonly",type="button",ng-click="vm.cancel()") {{'button.RETURN'|translate}}