// START widgets box
tabset(justified="true")
   tab(active="vm.tab1.active")
      tab-heading
          | {{ vm.moduleTranslatePath('TAB-INTEGRATION') | translate}}
      div.tab-content-dashboard
         .col-lg-3.col-sm-6
            .panel.widget.bg-primary
               .row.row-table
                  .col-xs-4.text-center.bg-primary-dark.pv-lg
                     em.icon-user.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.liveinAndAccountAndBedInfo.liveIn}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-LIVE-IN') | translate}}
         .col-lg-3.col-sm-6
            .panel.widget.bg-purple
               .row.row-table
                  .col-xs-4.text-center.bg-purple-dark.pv-lg
                     em.icon-user-follow.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.liveinAndAccountAndBedInfo.liveInOnCurrentMonth}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-LIVE-IN-ON-CURRENTMONTH') | translate}}
         .col-lg-3.col-md-6.col-sm-12
            .panel.widget.bg-green
               .row.row-table
                  .col-xs-4.text-center.bg-green-dark.pv-lg
                     em.icon-users.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.liveinAndAccountAndBedInfo.liveInManTime}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-LIVE-IN-MAN-TIME') | translate}}
         .col-lg-3.col-md-6.col-sm-12
            .panel.widget
               .row.row-table
                  .col-xs-4.text-center.bg-green.pv-lg
                     // See formats: https://docs.angularjs.org/api/ng/filter/date
                     now.text-sm(format='MMMM')
                     br
                     now.h2.mt0(format="d")
                  .col-xs-8.pv-lg
                     now(format='EEEE')
                     br
                     now.h2.mt0(format='h:mm')
                     now.text-muted.text-sm(format='a')
         .col-lg-6
            .panel.widget
               .row.row-table.text-center
                  .col-md-2.col-sm-3.col-xs-6.bg-info.pv-xl
                     em.fa-rmb.fa.fa-4x
                  .col-md-4.col-sm-3.col-xs-6.pv.br
                     .h3.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.account.self || 0 |currency}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-SUBSIDIARY_LEDGER-SELF') | translate}}
                  .col-md-3.col-sm-3.col-xs-6.pv.br
                     .h3.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.account.gov_subsidy || 0 |currency}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-SUBSIDIARY_LEDGER-GOV_SUBSIDY') | translate}}
                  .col-md-3.col-sm-3.col-xs-6.pv.br
                     .h3.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.account.social_donation || 0 |currency}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-SUBSIDIARY_LEDGER-SOCIAL_DONATION') | translate}}
         .col-lg-6
            .panel.widget
               .row.row-table.text-center
                  .col-md-2.col-sm-3.col-xs-6.bg-info.pv-xl
                     em.fa-bed.fa.fa-4x
                  .col-md-4.col-sm-3.col-xs-6.pv.br
                     .h2.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.bed.totals}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-BED-INFO-TOTALS') | translate}}
                  .col-md-3.col-sm-3.col-xs-6.pv.br
                     .h2.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.bed.liveins}}
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-BED-INFO-LIVEINS') | translate}}
                  .col-md-3.col-sm-3.col-xs-6.pv.br
                     .h2.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.bed.vacancy_rate}}%
                     | {{ vm.moduleTranslatePath('TAB-INTEGRATION-BED-INFO-VACANCY_RATE') | translate}}
         .col-lg-6
            .panel.widget
               div(ng-if="vm.elderlyAgeGroups_loaded",id="{{vm.elderlyAgeGroups_id}}",echarts="vm.elderlyAgeGroups_id",config="vm.elderlyAgeGroups_config",echarts-dimension="'2:1'",style="width:100%;")
         .col-lg-6
            .panel.widget
               div(ng-if="vm.roomVacancyRateMonthly_loaded",id="{{vm.roomVacancyRateMonthly_id}}",echarts="vm.roomVacancyRateMonthly_id",config="vm.roomVacancyRateMonthly_config",echarts-dimension="'2:1'",style="width:100%;")
         .col-lg-6
            .panel.widget
               div(ng-if="vm.roomCatagoryOfManTime_loaded",id="{{vm.roomCatagoryOfManTime_id}}",echarts="vm.roomCatagoryOfManTime_id",config="vm.roomCatagoryOfManTime_config",echarts-dimension="'2:1.3'",style="width:100%;")
         .col-lg-6
            .panel.widget
               div(ng-if="vm.roomCatagoryOfManTimeMonthly_loaded",id="{{vm.roomCatagoryOfManTimeMonthly_id}}",echarts="vm.roomCatagoryOfManTimeMonthly_id",config="vm.roomCatagoryOfManTimeMonthly_config",echarts-dimension="'2:1.3'",style="width:100%;")
         .col-lg-6
            .panel.panel-primary.widget
                .panel-heading
                    h3.panel-title {{ vm.moduleTranslatePath('TAB-INTEGRATION-BIRTHDAY-ELDERLY') | translate}}
                .panel-body
                    ul.list-inline
                        li.widget(ng-repeat="elderly in vm.birthdayElderlys")
                            .btn.btn-info.btn-xs {{ elderly.name+"("+(elderly.sex=="M"?"男":"女" )+")"}}
         .clearfix
   tab(active="vm.tab2.active")
      tab-heading
         | {{ vm.moduleTranslatePath('TAB-NURSING') | translate}}
      div
         .col-lg-3.col-sm-6
            .panel.widget.bg-danger
               .row.row-table
                  .col-xs-4.text-center.bg-danger-dark.pv-lg
                     em.icon-bell.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.nursingStatInfo.leaveBedAlarm}}
                     | {{ vm.moduleTranslatePath('TAB-NURSING-ALARM-TODAY-LEAVE_BED') | translate}}
         .col-lg-3.col-sm-6
            .panel.widget.bg-warning
               .row.row-table
                  .col-xs-4.text-center.bg-warning-dark.pv-lg
                     em.icon-user-unfollow.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.nursingStatInfo.nursingRecordUnusual}}
                     | {{ vm.moduleTranslatePath('TAB-NURSING-RECORD-TODAY-UNUSUAL') | translate}}
         .col-lg-3.col-sm-6
            .panel.widget.bg-success
               .row.row-table
                  .col-xs-4.text-center.bg-success-dark.pv-lg
                     em.icon-user-follow.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.nursingStatInfo.nursingRecordUsual}}
                     | {{ vm.moduleTranslatePath('TAB-NURSING-RECORD-TODAY-USUAL') | translate}}
         .col-lg-3.col-sm-6
            .panel.widget.bg-primary
               .row.row-table
                  .col-xs-4.text-center.bg-primary-dark.pv-lg
                     em.icon-users.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.nursingStatInfo.nursingWorker}}
                     | {{ vm.moduleTranslatePath('TAB-NURSING-WORKER') | translate}}
         .col-lg-3.col-sm-6
            .panel.widget.bg-primary
               .row.row-table
                  .col-xs-4.text-center.bg-primary-dark.pv-lg
                     em.fa-heartbeat.fa.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.nursingStatInfo.bedMonitor}}
                     | {{ vm.moduleTranslatePath('TAB-NURSING-BED_MONITOR') | translate}}
         .col-lg-3.col-sm-6
            .panel.widget.bg-primary
               .row.row-table
                  .col-xs-4.text-center.bg-primary-dark.pv-lg
                     em.fa-meh-o.fa.fa-3x
                  .col-xs-8.pv-lg
                     .h2.mt0 {{vm.nursingStatInfo.robot}}
                     | {{ vm.moduleTranslatePath('TAB-NURSING-ROBOT') | translate}}
         .clearfix
   tab(active="vm.tab3.active")
      tab-heading
         | {{ vm.moduleTranslatePath('TAB-DRUG') | translate}}
      div
         .clearfix