form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--老人-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-NAME') | translate}}:
                        .col-md-10(ng-if="!vm.readonly && vm._action_!='edit' ")
                            .backfiller(backfiller,ng-model="vm.selectedElderly", input-name="elderly", fetch-rows="vm.queryElderlyPromise", fetch-columns="vm.fetchElderlyColumnsPromise", picker-title="挑选老人" on-select="vm.selectElerlyForBackFiller(row)")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly','autocomplete-required')") {{ "validator.REQUIRED" | translate}}
                        .col-md-10(ng-if="vm.readonly || vm._action_=='edit'")
                            .form-readable {{vm.model.elderly_name}}
                    fieldset: .form-group
                        <!--barcode-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-BARCODE') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='barcode',ng-model='vm.model.barcode', placeholder='{{ vm.viewTranslatePath("TAB1-PLACEHOLDER-BARCODE") | translate}}' required='' ui-validate="{barcode: 'utils.isBarcode($value)'}" on-change="vm.showDrug()" abc)
                            span.text-danger(ng-show="utils.vinput(this.theForm,'barcode','required')") {{ "validator.REQUIRED" | translate}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'barcode','barcode')") {{ "validator.BARCODE" | translate}}
                    fieldset: .form-group
                        <!---名称-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FULL_NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='full_name',ng-model='vm.model.drug_full_name',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-MODEL")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'full_name','required')") {{ "validator.REQUIRED" | translate}}        
                    fieldset: .form-group
                        <!--厂家-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-VENDER') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='vender',ng-model='vm.model.vender', placeholder='{{ vm.viewTranslatePath("TAB1-PLACEHOLDER-VENDER") | translate}}' )
                            span.text-danger(ng-show="utils.vinput(this.theForm,'vender','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--有效期-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-PERIOD_VALIDITY') | translate}}:
                        .col-md-2(ng-if="!vm.readonly")
                            .input-group
                                input.form-control(type="text",name='elderly$birthday',is-open="vm.openedDP[1]",datepicker-popup="",ng-model="vm.elderlyModel.period_validity" ,placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-PERIOD_VILIDITY")|translate}}',required='',ng-click="vm.openDP($event,2,1)",extract-birthday="vm.elderlyModel.id_no")
                                span.input-group-btn
                                    button.btn.btn-primary(ng-click="vm.openDP($event,2,1)")
                                        i.glyphicon.glyphicon-calendar
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$birthday','required')") {{ "validator.REQUIRED" | translate}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$birthday','date')") {{ "validator.DATE" | translate}}
                        .col-md-2(ng-if="vm.readonly")
                            .form-readable {{vm.elderlyModel.birthday|date}}
                    fieldset: .form-group
                        <!--包装单位-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-UNIT') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='unit',ng-repeat='item in vm.selectBinding.unit',ng-model='vm.model.unit',btn-radio="item.value",required='') {{item.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'unit','required')") {{ "validator.REQUIRED" | translate}} 
                    fieldset: .form-group
                        <!--药品来源-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-TYPE') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='type',s-tree,s-tree-data="vm.typePromise",s-tree-height="150", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown'}",ng-model="vm.model.type",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'type','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-QUANTITY') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='in_out_quantity',ng-model='vm.model.in_out_quantity',placeholder='' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'in_out_quantity','required')") {{ "validator.REQUIRED" | translate}}
                    
                        
    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}
 