 
form.form-validate.mb-lg(role='form', name="theForm", novalidate='')
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--姓名-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-NAME') | translate}}:
                        .col-md-10(ng-if="vm.readonly || vm._action_=='edit'")
                            .form-readable {{vm.model.name}}
                    fieldset: .form-group
                        <!--性别-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-SEX') | translate}}:
                        .col-md-10(ng-if="vm.readonly || vm._action_=='edit'")
                            .btn-group
                                .btn.btn-primary.cursor-not-allowed(name='sex',ng-repeat='sex in vm.selectBinding.sex',ng-class="{'active':vm.model.sex==sex.value}") {{sex.name}}
                    fieldset: .form-group
                        <!--出生日期-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-BIRTHDAY') | translate}}:
                        .col-md-2(ng-if="vm.readonly || vm._action_=='edit'")
                            .form-readable {{vm.model.birthday|date}}
                    fieldset: .form-group
                        <!--医保所在地-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-MEDICAL_INSURANCE') | translate}}:
                        .col-md-10(ng-if="vm.readonly || vm._action_=='edit'")
                            .btn-group
                                .btn.btn-primary.cursor-not-allowed(name='medical_insurance',ng-repeat='medical_insurance in vm.selectBinding.medical_insurances',ng-class="{'active':vm.model.medical_insurance==medical_insurance.value}") {{medical_insurance.name}}
                    fieldset: .form-group
                        <!--过往病史-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-MEDICAL_HISTORIES') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='medical_histories',s-tree,s-tree-data="vm.medical_historiesPromise",s-tree-height="200", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown',readonly:{{vm.readonly}} }",ng-model="vm.model.medical_histories",required='')
                    fieldset: .form-group
                        .panel.panel-default.panel-grid
                            .panel-heading-normal
                                a {{ vm.viewTranslatePath('TAB1-LABEL-DRUG-LIST') | translate}}
                            table.grid.table.table-bordered.table-hover.table-striped
                                thead
                                    tr
                                        th.text-center(ng-if="!vm.readonly",check-all,width="30")
                                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                                label
                                                    input(type='checkbox' ng-model="vm.all" ng-change="vm.selectAll()")
                                                    span.fa.fa-check
                                        th.text-center(width="50")
                                            | {{ vm.viewTranslatePath('TAB1-LABEL-DRUG_USE_TEMPLATE') | translate}}
                                        th.text-center(width="80")
                                            | {{ vm.viewTranslatePath('TAB1-LABEL-DRUG-NAME') | translate}}
                                        th.text-center(width="50")
                                            | {{ vm.viewTranslatePath('TAB1-LABEL-QUANTITY_AND_UNIT') | translate}}
                                        th.text-center(width="40")
                                            | {{ vm.viewTranslatePath('TAB1-LABEL-REPEAT_VALUES') | translate}}
                                        th.text-center(width="40")
                                            | {{ vm.viewTranslatePath('TAB1-LABEL-DESCRIPTION') | translate}}
                                        th.text-center(width="20")
                                            | {{ vm.viewTranslatePath('TAB1-LABEL-STOP_FLAG') | translate}}
                                        th.text-center(width="20",ng-if="!vm.readonly")
                                tbody
                                    tr(ng-repeat="row in vm.elderlyDrugUseItems|orderBy:'group_order' " )
                                        td.text-center(ng-if="!vm.readonly")
                                            .checkbox.c-checkbox(ng-if="!row.$editing")
                                                label
                                                    input(type='checkbox',ng-model="row.checked" ng-change="vm.addRowIds(row)")
                                                    span.fa.fa-check
                                        td.text-center(ng-if="row.row_span", rowspan="{{row.row_span}}") {{::row.drugUseTemplateId.name}}
                                        td {{::row.drugId.short_name | defaultValue:row.drugId.full_name }}
                                        td.text-center {{::row.quantity }} {{::row.unit_name}}
                                        td.text-center {{::row.repeat_type_name }}{{row.repeat_values | repeatInfoCombo: row.repeat_start}}
                                        td.text-center {{::row.description}}
                                        td.text-center {{::row.stop_flag|boolFilter}}
                                        td.text-center
                                            .btn-group
                                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.configDrugUseItem(row)")
                                                    i.glyphicon.glyphicon-pencil
                                    tr(ng-if="vm.paged.length==0")
                                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
                            .panel-footer
                                .row
                                    .col-md-4.text-left
                                        .btn-toolbar(ng-if="!vm.readonly")
                                            .btn-group
                                                a.btn.btn-primary.btn-sm(title="{{'button.ADD'|translate}}",ng-click="vm.configDrugUseItem()")
                                                    i.glyphicon.glyphicon-plus
                                                a.btn.btn-primary.btn-sm(title="{{'button.REMOVE'|translate}}",ng-click="vm.removeElderlyDrugUseItem()")
                                                    i.glyphicon.glyphicon-minus
                                    //-  .col-md-8
                                    //-     pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true" ,ng-change="vm.paging()")
    .text-right.mt-lg
        button.btn.btn-primary(type="button",ng-click="vm.toListView()") {{'button.RETURN'|translate}}
script(type="text/ng-template", id="drug-use-item.html")
    form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
        .ngdialog-title
            i.glyphicon.glyphicon-info-sign
            | {{ vm.viewTranslatePath('TAB1') | translate }}
        .ngdialog-input
            .col-md-12
                fieldset: .form-group
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DRUG_USE_TEMPLATE') | translate}}:
                    <!--模版-->
                    .col-md-6
                        .tree.tree-dropdown(name='drugUseTemplateTree',s-tree, s-tree-data="vm.drugUseTemplatePromise",s-tree-height="320", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown'}",ng-model="vm.model.drugUseTemplateId", on-select="vm.selectDrugUseTemplate(selectedNode)")
                    .col-md-4
                        a.btn.btn-primary.pull-left(ng-if="!!vm.model.drugUseTemplateId",ng-click="vm.selectDrugUseTemplate()") {{ vm.viewTranslatePath('TAB1-BTN-REMOVE_DRUG_USE_TEMPLATE') | translate}}
                fieldset: .form-group
                    <!--药品目录-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DRUG-NAME') | translate}}:
                    .col-md-6(ng-if="!vm.readonly && vm._action_!='edit' ")
                        .backfiller(backfiller,ng-model="vm.selectedDrug", text-key="full_name", required="true", input-name="drug", fetch-rows="vm.queryDrugPromise", fetch-columns="vm.fetchDrugColumnsPromise", picker-title="挑选药品" on-select="vm.selectDrugForBackFiller(row)", on-search="vm.searchForBackFiller(keyword)")
                        span.text-danger(ng-show="utils.vinput(theForm,'drug','autocomplete-required')") {{ "validator.REQUIRED" | translate}}
                    .col-md-6(ng-if="vm.readonly || vm._action_=='edit'")
                        .form-readable {{vm.model.name}}
                    .col-md-4
                        <!--药品库存-->
                        .form-readable {{vm.drugStockModel.total}} {{vm.drugStockModel.mini_unit_name}}
                fieldset: .form-group
                    <!--一次服用量-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-QUANTITY') | translate}}:
                    .col-md-4
                        input.form-control(type='number',name='quantity' ,ng-model='vm.model.quantity', required='' ui-validate="'$value>=1'" )
                        span.text-danger(ng-show="utils.vinput(theForm,'quantity','required')") {{ "validator.REQUIRED" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'quantity','number')") {{ "validator.NUMBER" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'quantity','validator')") {{ "validator.MIN" | translate:{min:1} }}
                    <!--服用单位-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-UNIT') | translate}}:
                    .col-md-4
                        .btn-group
                            .btn.btn-primary(name='unit',ng-repeat='unit in vm.selectBinding.units',ng-model='vm.model.unit',btn-radio="unit.value",required='') {{unit.name}}
                        span.text-danger(ng-show="utils.vinput(theForm,'unit','required')") {{ "validator.REQUIRED" | translate}}
                fieldset: .form-group
                    <!--服用方法-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DESCRIPTION') | translate}}:
                    .col-md-10
                        input.form-control(name='description',ng-model='vm.model.description',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-DESCRIPTION")|translate}}',maxlength="400")
                fieldset: .form-group
                    <!--时长(分)-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DURATION') | translate}}:
                    .col-md-10
                        input.form-control(type='number',name='duration' ,ng-model='vm.model.duration',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-DURATION")|translate}}', required='' ui-validate="'$value>=0'" )
                        span.text-danger(ng-show="utils.vinput(theForm,'duration','required')") {{ "validator.REQUIRED" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'duration','number')") {{ "validator.NUMBER" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'duration','validator')") {{ "validator.MIN" | translate:{min:0} }}
                    <!--重复类型-->
                fieldset: .form-group
                    label.col-md-2.control-label.text-right {{ vm.viewTranslatePath('TAB1-LABEL-REPEAT_TYPE') | translate}}:
                    .col-md-4
                        .btn-group
                            .btn.btn-primary(name='repeat_type',ng-change="vm.initVoiceTemplate()",ng-repeat='repeatType in vm.selectBinding.repeatTypes',ng-model='vm.model.repeat_type',btn-radio="repeatType.value",required='') {{repeatType.name}}
                        span.text-danger(ng-show="utils.vinput(this.theForm,'repeat_type','required')") {{ "validator.REQUIRED" | translate}}
                    <!--重复点-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-REPEAT_START') | translate}}:
                    .col-md-4
                        input.form-control(type='text',ng-disabled="vm.switch", name='repeat_start',ng-model='vm.model.repeat_start',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-REPEAT_START")|translate}}')
                fieldset: .form-group
                    <!--重复值域-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-REPEAT_VALUES') | translate}}:
                    .col-md-10
                        input.form-control(type='text',ng-disabled="vm.switch", name='repeat_values',ng-model='vm.repeat_values',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-REPEAT_VALUES")|translate}}')
                fieldset: .form-group
                    <!--语音播报-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-VOICE-TEMPLATE') | translate}}:
                    .col-md-10
                        input.form-control(name='voice_template',ng-disabled="vm.switch",ng-model='vm.model.voice_template',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-VOICE")|translate}}',maxlength="400")
                fieldset: .form-group
                    <!--标识集合-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FLAG-COLLECTION') | translate}}:
                    .col-md-2
                        .checkbox.c-checkbox
                            label
                                input#stopFlag(type='checkbox',ng-model='vm.model.stop_flag')
                                span.fa.fa-check
                        label(for="stopFlag") {{ vm.viewTranslatePath('TAB1-LABEL-STOP_FLAG') | translate}}
                    .col-md-2
                        .checkbox.c-checkbox
                            label
                                input#confirmFlag(type='checkbox',ng-model='vm.model.confirm_flag')
                                span.fa.fa-check
                        label(for="confirmFlag") {{ vm.viewTranslatePath('TAB1-LABEL-CONFIRM_FLAG') | translate}}
                    .col-md-2
                        .checkbox.c-checkbox
                            label
                                input#remindFlag(type='checkbox',ng-model='vm.model.remind_flag')
                                span.fa.fa-check
                        label(for="remindFlag") {{ vm.viewTranslatePath('TAB1-LABEL-REMIND_FLAG') | translate}}
                    .col-md-2
                        .checkbox.c-checkbox
                            label
                                input#feeFlag(type='checkbox',ng-model='vm.model.fee_flag')
                                span.fa.fa-check
                        label(for="feeFlag") {{ vm.viewTranslatePath('TAB1-LABEL-FEE_FLAG') | translate}}
                fieldset(ng-if="vm.model.remind_flag"): .form-group
                    <!--提醒方式-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-REMIND_MODE') | translate}}:
                    .col-md-4
                        .btn-group
                            .btn.btn-primary(name='remind_mode',ng-repeat='remindMode in vm.selectBinding.remindModes',ng-model='vm.model.remind_mode',btn-radio="remindMode.value",required='') {{remindMode.name}}
                        span.text-danger(ng-show="utils.vinput(theForm,'remind_mode','required')") {{ "validator.REQUIRED" | translate}}
                    <!--提醒次数-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-REMIND_TIMES') | translate}}:
                    .col-md-4
                        input.form-control(type='number',name='remind_times' ,ng-model='vm.model.remind_times',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-REMIND_TIMES")|translate}}', required='' ui-validate="'$value>=1'" )
                        span.text-danger(ng-show="utils.vinput(theForm,'remind_times','required')") {{ "validator.REQUIRED" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'remind_times','number')") {{ "validator.NUMBER" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'remind_times','validator')") {{ "validator.MIN" | translate:{min:1} }}
                fieldset(ng-if="vm.model.fee_flag"): .form-group
                    <!--费用(￥)-->
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FEE') | translate}}:
                    .col-md-10
                        input.form-control(type='number',name='fee' ,ng-model='vm.model.fee',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-FEE")|translate}}', required='' ui-validate="'$value>=1'" )
                        span.text-danger(ng-show="utils.vinput(theForm,'fee','required')") {{ "validator.REQUIRED" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'fee','number')") {{ "validator.NUMBER" | translate}}
                        span.text-danger(ng-show="utils.vinput(theForm,'fee','validator')") {{ "validator.MIN" | translate:{min:1} }}
        .text-right.mt-lg
            button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
            button.btn.btn-success(type="submit" ) {{'button.SAVE'|translate}}