form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .row
        .col-md-1.control-label {{ vm.viewTranslatePath('HEAD-LABEL-ELDERLY_NAME') | translate}}:
        .col-md-3
            input.read-control-underline(readonly,placeholder='',ng-model="vm.model.name")
        .col-md-5
        .col-md-1.control-label {{ vm.viewTranslatePath('HEAD-LABEL-ELDERLY_BED_NO') | translate}}:
        .col-md-2
            input.read-control-underline(readonly,placeholder='',ng-model="vm.model.room_summary")
    .row-split
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT') | translate}}:
                        .col-md-10
                            input.form-control(type='number', name='bed_monitor_timeout',ng-model='vm.model.bed_monitor_timeout',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT")|translate}}' ,required='',ui-validate="'$value>=1'" )
                            span.text-danger(ng-show="utils.vinput(this.theForm,'bed_monitor_timeout','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT_ALARM_BEGIN') | translate}}:
                        .col-md-10
                            input.form-control(type='text', ng-minlength=5, ng-maxlength=5, name='bed_monitor_timeout_alarm_begin',ng-model='vm.model.bed_monitor_timeout_alarm_begin',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT_ALARM_BEGIN")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'bed_monitor_timeout_alarm_begin','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT_ALARM_END') | translate}}:
                        .col-md-10
                            input.form-control(type='text', ng-minlength=5, ng-maxlength=5, name='bed_monitor_timeout_alarm_end',ng-model='vm.model.bed_monitor_timeout_alarm_end',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT_ALARM_END")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'bed_monitor_timeout_alarm_end','required')") {{ "validator.REQUIRED" | translate}}
                    
    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}