.row
    .col-md-1.control-label {{ vm.viewTranslatePath('HEAD-LABEL-ELDERLY_NAME') | translate}}:
    .col-md-3
        input.read-control-underline(readonly,placeholder='',ng-model="vm.model.name")
    .col-md-5
    .col-md-1.control-label {{ vm.viewTranslatePath('HEAD-LABEL-ELDERLY_BED_NO') | translate}}:
    .col-md-2
        input.read-control-underline(readonly,placeholder='',ng-model="vm.model.room_summary")
.row-split
.panel
    tabset(justified="true")
        tab(active="vm.tab1.active")
            tab-heading
                | {{ vm.viewTranslatePath('TAB1') | translate}}
            div#contentTab1
                fieldset: .form-group
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-PASTE_IN_BED') | translate}}:
                    //.col-md-2
                    //    img.qrcode-86(ng-src="{{vm.paste_in_bed}}")
                    .col-md-2
                        img.qrcode-129(ng-src="{{vm.paste_in_bed}}")
                    .col-md-2
                        img.qrcode-172(ng-src="{{vm.paste_in_bed}}")
                fieldset: .form-group
                    label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-PASTE_IN_PILL_BOX') | translate}}:
                    //.col-md-2
                    //    img.qrcode-86(ng-src="{{vm.paste_in_pill_box_qrcode}}")
                    .col-md-2
                        img.qrcode-129(ng-src="{{vm.paste_in_pill_box_qrcode}}")
                    .col-md-2
                        img.qrcode-172(ng-src="{{vm.paste_in_pill_box_qrcode}}")
                    .col-md-2
                        .checkbox.c-checkbox
                            label
                                input#embededElderlyAvatarFlag(type='checkbox',ng-model='vm.embededElderlyAvatarFlag', ng-change="vm.buildQR()")
                                span.fa.fa-check
                        label(for="embededElderlyAvatarFlag") {{ vm.viewTranslatePath('TAB1-LABEL-EMBEDED_ELDERLY_AVATAR_FLAG') | translate}}
.text-right.mt-lg
    button.btn.btn-primary(type="button",ng-click="vm.toListView()") {{'button.RETURN'|translate}}