.col-xs-12
    .row
        .col-md-6.text-left
            .btn-toolbar
                .btn-group
                    ui-select(name="mealMenuScheduleTemplates",theme='bootstrap', ng-Model="vm.selectedMealMenuTemplate" ,ng-style='{width: "180px"}')
                        ui-select-match(placeholder='{{vm.moduleTranslatePath("PLACEHOLDER-PICK_MEAL_MENU_TEMPLATE")|translate}}') {{$select.selected.name}}
                        ui-select-choices(repeat='mealMenuScheduleTemplate in vm.selectBinding.mealMenuScheduleTemplates | filter: {name: $select.search}')
                            div(ng-bind-html='mealMenuScheduleTemplate.name | highlight: $select.search')
                .btn-group
                    a.btn.btn-warning.btn-sm(ng-click="vm.importTemplate()") {{ vm.moduleTranslatePath('BTN-IMPORT-TEMPLATE') | translate}}
                .btn-group
                    a.btn.btn-success.btn-sm(ng-click="vm.saveAsTemplate()") {{ vm.moduleTranslatePath('BTN-SAVE-TEMPLATE') |translate}}
                .btn-group
                    a.btn.btn-primary.btn-sm(title="{{vm.moduleTranslatePath('BTN-PRE-WEEK')|translate}}",ng-click="vm.preWeek()")
                        i.glyphicon.glyphicon-chevron-left
                        | {{vm.moduleTranslatePath('BTN-PRE-WEEK')|translate}}
                .btn-group
                    a.btn.btn-primary.btn-sm(title="{{vm.moduleTranslatePath('BTN-NEXT-WEEK')|translate}}",ng-click="vm.nextWeek()")
                        i.glyphicon.glyphicon-chevron-right
                        | {{vm.moduleTranslatePath('BTN-NEXT-WEEK')|translate}}
        .col-md-6
            .btn-toolbar.pull-right
                .btn-group
                    a.btn.btn-warning.btn-sm(ng-click="vm.addQuantity()") {{ vm.moduleTranslatePath('BTN-SET-QUANTITY') | translate}}
                .btn-group
                    .tree.tree-dropdown(name='mealShifts',s-tree, s-tree-data="vm.aggrValuePromise",s-tree-height="400", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown',selectNodeFormat:'object'}",ng-model="vm.selectedMealShifts")
                .btn-group
                    a.btn.btn-primary.btn-sm(ng-click="vm.replaceSelected()") {{'button.REPLACE'|translate}}
                    a.btn.btn-primary.btn-sm(ng-click="vm.appendSelected()") {{'button.APPEND'|translate}}
                .btn-group
                    a.btn.btn-danger.btn-sm(ng-click="vm.removeSelected()") {{'button.REMOVE'|translate}}
    .row-split
    .panel.panel-default.panel-grid
        table.grid.table.table-bordered.table-striped
            thead
                tr
                    th.text-center(ng-click="vm.selectGrid()" width="100") {{ vm.moduleTranslatePath('LABEL-YAXIS_LABEL') | translate}}
                    th.text-center(title="{{vm.moduleTranslatePath('TITLE-COL')|translate}}",ng-repeat="column in vm.xAxisData",width="100",ng-click="vm.selectGridCol(column._id)") {{::column.name}}
            tbody
                tr(ng-repeat="row in vm.yAxisData")
                    td.text-center(title="{{vm.moduleTranslatePath('TITLE-ROW')|translate}}",ng-click="vm.selectGridRow(row.value)",height="80")
                        | {{::row.name}}
                    td.text-left(ng-repeat="col in vm.xAxisData",width="100",style="vertical-align:top;", ng-class='{"grid-cell-selected": vm.cells[row.value][col._id] }',ng-click="vm.selectGridCell(row.value,col._id)",ng-dblclick="vm.dbClickAddQuantity(row,col,vm.aggrData[row.value][col._id])")
                        //span {{(vm.aggrData[row.value][col._id]) | mealArrayMember:'name':'quantity' }}
                        ul.list-unstyled
                            li(ng-repeat="mealData in vm.aggrData[row.value][col._id] ") • {{ mealData.name+'('+mealData.quantity+')'}}

script(type="text/ng-template", id="nursing-worker-schedule-save-as-template.html")
    form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
        .ngdialog-message
            h3.mt0 {{ vm.moduleTranslatePath('DIALOG-SAVE-AS-TEMPLATE-TITLE') | translate}}
        .ngdialog-input
            .col-md-12.cover-nursing-worker-schedule-template-c
                .tree.tree-dropdown(name='mealMenuTemplateSelected',s-tree, s-tree-data="vm.fetchMealMenuScheduleTemplatesPromise",s-tree-height="400", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{layout:'dropdown',selectNodeFormat:'object'}",ng-model="vm.saveToSelected", on-select="vm.selectMealMenuTemplateToSave(selectedNode)")
                .cover-nursing-worker-schedule-template-tree
                    input.form-control(type='text', name='name',ng-model='vm.mealMenuTemplateName',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-SAVE-TO-TEMPLATE_NAME")|translate}}')
        .ngdialog-buttons
            .col-md-12.text-right
                button.btn.btn-warning(type='button',ng-click="vm.cancel()") {{ "button.CANCEL" | translate}}
                button.btn.btn-success(type='submit') {{ "button.CONFIRM" | translate}}


script(type="text/ng-template", id="add-meal-quantity.html")
    form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
        .ngdialog-title
            i.glyphicon.glyphicon-info-sign
            | {{ vm.moduleTranslatePath('TAB1') | translate }}
        .ngdialog-input
            .col-md-12
                fieldset: .form-group
                    .panel.panel-default.panel-grid
                        table.grid.table.table-bordered.table-hover.table-striped
                            thead
                                tr
                                    th.text-center(check-all,width="20" , ng-if="!vm.readonly")
                                        .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                            label
                                                input(type='checkbox' ng-model="vm.all" ng-change="vm.selectAll()")
                                                span.fa.fa-check
                                    th.text-center(width="40")
                                        | {{ vm.moduleTranslatePath('TAB1-LABEL-DATE') | translate}}
                                    th.text-center(width="60")
                                        | {{ vm.moduleTranslatePath('TAB1-LABEL-MEAL_PERIOD') | translate}}
                                    th.text-center(width="80")
                                        | {{ vm.moduleTranslatePath('TAB1-LABEL-MEAL') | translate}}
                                    th.text-center(width="60")
                                        | {{ vm.moduleTranslatePath('TAB1-LABEL-QUANTITY') | translate}}
                            tbody
                                tr(ng-repeat="row in vm.toAddQuantityRows track by $index" )
                                    td.text-center
                                        .checkbox.c-checkbox
                                            label
                                                input(type='checkbox',ng-model="row.checked" )
                                                span.fa.fa-check
                                    td.text-center {{row.x_axis}}
                                    td.text-center {{row.y_axis_value}}
                                    td.text-center {{row.aggr_value.mealId.name }}
                                    td
                                        .input-group.charge-item
                                            input(type='number',ng-model='row.aggr_value.quantity',ui-validate="'$value>=1' ",min="1")
                                            span 份
                                            .btn-group
                                                a.btn.btn-danger.btn-xs(type="button",ng-click="vm.removeMeal($index)") {{'button.REMOVE'|translate}}
                                        span.text-danger(ng-show="!row.aggr_value.quantity") {{ "validator.MIN" | translate:{min:1} }}
        .text-right.mt-lg
            button.btn.btn-success(type="submit" ) {{vm.moduleTranslatePath('FINISH-SET-QUANTITY') |translate}}
