form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--模版名称-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='name',ng-model='vm.model.name',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-NAME")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'name','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--模版描述-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DESCRIPTION') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='description',ng-model='vm.model.description',maxlength='50')
                            span.text-danger(ng-show="vm.model.description.length ==50") {{ vm.viewTranslatePath('TAB1-LABEL-LENGTH-VALIDATE')| translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FLAG-COLLECTION') | translate}}:
                        .col-md-2
                            .checkbox.c-checkbox
                                label
                                    input#stopFlag(type='checkbox',ng-model='vm.model.stop_flag')
                                    span.fa.fa-check
                            label(for="stopFlag") {{ vm.viewTranslatePath('TAB1-LABEL-STOP_FLAG') | translate}}
                    fieldset: .form-group
                        <!--模版内容-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-CONTENT') | translate}}:
                        .col-md-10
                            .panel.panel-default.panel-grid
                                table.grid.table.table-bordered.table-striped
                                    thead
                                        tr
                                            th.text-center(ng-click="vm.selectGrid()" width="100") {{ vm.viewTranslatePath('TAB1-LABEL-YAXIS_LABEL') | translate}}
                                            th.text-center(title="{{vm.viewTranslatePath('TAB1-TITLE-COL')|translate}}",ng-repeat="column in vm.xAxisData",width="100",ng-click="vm.selectGridCol(column._id)") {{::column.name}}
                                    tbody
                                        tr(ng-repeat="row in vm.yAxisData")
                                            td.text-center(title="{{vm.viewTranslatePath('TAB1-TITLE-ROW')|translate}}",ng-click="vm.selectGridRow(row.value)")
                                                | {{::row.name}}
                                            td.text-center(ng-repeat="col in vm.xAxisData",width="100", ng-class='{"grid-cell-selected": vm.cells[row.value][col._id] }',ng-click="vm.selectGridCell(row.value,col._id)" )
                                                span {{vm.aggrData[row.value][col._id] | safeArrayMember:'name' }}
                                .panel-footer
                                    .row
                                        .col-md-2.text-left
                                            .btn-toolbar
                                                .btn-group(ng-show="!vm.gridEditing")
                                                    a.btn.btn-primary.btn-sm(ng-click="vm.enterGridEditMode()") {{vm.viewTranslatePath('TAB1-LABEL-ENTER_EDIT_MODE')|translate}}
                                                .btn-group(ng-show="vm.gridEditing")
                                                    a.btn.btn-danger.btn-sm(ng-click="vm.exitGridEditMode()") {{vm.viewTranslatePath('TAB1-LABEL-CANCEL_EDIT_MODE')|translate}}
                                        .col-md-4
                                        .col-md-6(ng-show="vm.gridEditing")
                                            .btn-toolbar.pull-right
                                                .btn-group
                                                    .tree.tree-dropdown(name='meals',s-tree, s-tree-data="vm.aggrValuePromise",s-tree-height="400", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown',selectNodeFormat:'object'}",ng-model="vm.selectedMeals")
                                                .btn-group
                                                    a.btn.btn-primary.btn-sm(ng-click="vm.replaceSelected()") {{'button.REPLACE'|translate}}
                                                    a.btn.btn-primary.btn-sm(ng-click="vm.appendSelected()") {{'button.APPEND'|translate}}
                                                .btn-group
                                                    a.btn.btn-danger.btn-sm(ng-click="vm.removeSelected()") {{'button.REMOVE'|translate}}

    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}

