.col-xs-12
    .row
        .col-md-5.text-left
            .col-md-2
                .btn-group
                    a.btn.btn-primary.btn-xs(title="{{vm.moduleTranslatePath('BTN-PRE-WEEK')|translate}}",ng-click="vm.preDay()")
                        i.glyphicon.glyphicon-chevron-left
                        | {{vm.moduleTranslatePath('BTN-PRE-WEEK')|translate}}
            .col-md-4
                .input-group
                    input.read-control-underline(type="text",name='order_date',is-open="vm.openedDP",datepicker-popup="",ng-model="vm.model.order_date" ,ng-click="vm.openDP($event)")
                    span.input-group-btn
                        button.btn.btn-primary.btn-xs(ng-click="vm.openDP($event)")
                            i.glyphicon.glyphicon-calendar
            .col-md-2
                .btn-group
                    a.btn.btn-primary.btn-xs(title="{{vm.moduleTranslatePath('BTN-NEXT-WEEK')|translate}}",ng-click="vm.nextDay()")
                        i.glyphicon.glyphicon-chevron-right
                        | {{vm.moduleTranslatePath('BTN-NEXT-WEEK')|translate}}
    .row-split
    .panel.panel-default.panel-grid
        table.grid.table.table-bordered.table-striped
            thead
                tr
                    th.text-center(width="50") {{ vm.moduleTranslatePath('LABEL-YAXIS_LABEL') | translate}}
                    th.text-center(ng-repeat="column in vm.xAxisData",width="100") {{::column.name}}
            tbody
                tr(ng-repeat="row in vm.rows")
                    td.text-center
                        | {{::row.elderly_name}}
                    td.text-left(ng-repeat="col in vm.xAxisData",width="100")
                        ul.list-unstyled
                            li(ng-repeat="mealData in row.orderedMeals[col.value] ") • {{ mealData.mealName[0].name+'('+mealData.quantity+')'}}
                tr(ng-if="vm.rows.length==0")
                    td.text-center(colspan="{{vm.xAxisData.length + 1}}") {{ 'grid.NO-RESULTS' | translate}}