.col-xs-12
    .row
        .col-md-7.text-left
            .col-md-4
                .input-group
                    input.form-control(type="text",name='order_date',is-open="vm.openedDP",datepicker-popup="",ng-model="vm.model.order_date" ,ng-click="vm.openDP($event)",ng-change="vm.dateChange()")
                    span.input-group-btn
                        button.btn.btn-primary(ng-click="vm.openDP($event)")
                            i.glyphicon.glyphicon-calendar
            .col-md-8
                .btn-group
                    a.btn.btn-primary.btn-sm(title="{{vm.moduleTranslatePath('BTN-PRE-WEEK')|translate}}",ng-click="vm.preDay()")
                        i.glyphicon.glyphicon-chevron-left
                        | {{vm.moduleTranslatePath('BTN-PRE-WEEK')|translate}}
                .btn-group
                    a.btn.btn-primary.btn-sm(title="{{vm.moduleTranslatePath('BTN-NEXT-WEEK')|translate}}",ng-click="vm.nextDay()")
                        i.glyphicon.glyphicon-chevron-right
                        | {{vm.moduleTranslatePath('BTN-NEXT-WEEK')|translate}}
        .col-md-5
            .btn-toolbar.pull-right
                .btn-group
                    a.btn.btn-success.btn-sm(ng-click="vm.changeViewPoint()") {{vm.cookerView? vm.moduleTranslatePath('NORMAL-VIEW'):vm.moduleTranslatePath('COOKER-VIEW')| translate}}
                .btn-group
                    a.btn.btn-warning.btn-sm(ng-click="$state.go(vm.transTo.mealOrderRecordDetail,{date:vm.model.order_date})") {{ vm.moduleTranslatePath('BTN-GO-DETAIL') | translate}}
    .row-split
    .panel.panel-default.panel-grid
        table.grid.table.table-bordered.table-striped(ng-if="!vm.cookerView")
            thead
                tr
                    th.text-center(width="80",colspan="2") {{ vm.moduleTranslatePath('LABEL-YAXIS_LABEL_DISTRICT') | translate}}
                    th.text-center(ng-repeat="column in vm.xAxisData",width="100") {{::column.name}}
            tbody(ng-repeat="row in vm.rows")
                tr(ng-repeat="floor in row.floors track by $index")
                    td.text-center(ng-if="$index ==0" rowspan="{{row.floors.length}}")
                        | {{::row.district_name}}
                    td.text-center
                        a.btn.btn-warning.btn-xs(ng-click="$state.go(vm.transTo.mealOrderRecordDetail,{_id:row.districtId,floor:floor.floor,date:vm.model.order_date})") {{floor.floor}}层详情
                    td.text-left(ng-repeat="col in vm.xAxisData",width="100")
                        ul.list-unstyled
                            li(ng-repeat="meals in floor[col.value] ") • {{::meals.name}} × {{::meals.quantity}}份
                tr(ng-if="vm.rows.length==0")
                    td.text-center(colspan="{{vm.xAxisData.length+2}}") {{ 'grid.NO-RESULTS' | translate}}
        table.grid.table.table-bordered.table-striped(ng-if="vm.cookerView")
            thead
                tr
                    th.text-center(width="80",colspan="2" ,rowspan="2",style="line-height:60px;") {{vm.moduleTranslatePath('LABEL-YAXIS_LABEL_MEAL') | translate}}
                    th.text-center(width="120",colspan="{{vm.districts.length}}") {{ vm.moduleTranslatePath('LABEL-YAXIS_LABEL_DISTRICT') | translate}}
                tr
                    th.text-center(ng-repeat="district in vm.districts") {{::district.name}}
            tbody(ng-repeat="row2 in vm.rows2")
                tr(ng-repeat="meal in row2.meals track by $index")
                    td.text-center(ng-if="$index ==0" rowspan="{{row2.meals.length}}")
                        | {{::vm.y[row2.period]}}
                        .btn-group
                            a.btn.btn-success.btn-xs(ng-click="vm.exportExcelForMealOrderRecord(row2)") 导出Excel
                    td.text-center
                        | {{::meal.meal_name}}
                    td.text-left.break-word(ng-repeat="district in meal.districts")
                        | {{(district.elderlys) | cookerViewDistrictCellFilter:'room_name':'bed_no'}}
                tr(ng-if="vm.rows2.length==0")
                    td.text-center(colspan="4") {{ 'grid.NO-RESULTS' | translate}}