form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--照护组名称-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='name',ng-model='vm.model.name',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-NAME")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'name','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-MEMBERS') | translate}}:
                        .col-md-4
                            .tree.tree-basic(s-tree,s-tree-data="vm.treeDataPromiseOfNursingWorkers",s-tree-height="300", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check', selectNodeFormat:'object', nodeIdKey: 'nursingWorkerId'}",ng-model="vm.model.members")
                        .col-md-6
                            .panel.panel-default.panel-grid
                                .panel-heading-normal
                                    a {{ vm.viewTranslatePath('TAB1-LABEL-MEMBERS_SELECTED') | translate}}
                                table.grid.table.table-bordered.table-hover.table-striped
                                    thead
                                        tr
                                            th.text-center(width="60")
                                                | {{ vm.viewTranslatePath('TAB1-LABEL-MEMBER_GRID_NAME') | translate}}
                                            th.text-center(width="50")
                                                | {{ vm.viewTranslatePath('TAB1-LABEL-MEMBER_GRID_LEADER_FLAG') | translate}}
                                    tbody
                                        tr(ng-repeat="member in vm.model.members"  )
                                            td.text-left
                                                span {{member.name}}
                                            td.text-center
                                                .checkbox.c-checkbox
                                                    label
                                                        input#leader_flag(type='checkbox', ng-model="member.leader_flag", ng-change="vm.resetLeader(member)")
                                                        span.fa.fa-check
                    fieldset: .form-group
                        <!--停用标志-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FLAG-COLLECTION') | translate}}:
                        .col-md-2
                            .checkbox.c-checkbox
                                label
                                    input#stopFlag(type='checkbox',ng-model='vm.model.stop_flag')
                                    span.fa.fa-check
                            label(for="stopFlag") {{ vm.viewTranslatePath('TAB1-LABEL-STOP_FLAG') | translate}}
    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}