form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--睡眠带编号-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-CODE') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='code',ng-model='vm.model.code',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-CODE")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'code','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--睡眠带名称-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-NAME') | translate}}:
                        .col-md-8
                            input.form-control(type='text', name='name',ng-model='vm.model.name',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-NAME")|translate}}' ,required='',ui-validate="{name:'vm.isBedMonitorName($value)'}")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'name','required')") {{ "validator.REQUIRED" | translate}}
                            span.text-danger(ng-show="vm.tenant_name") 该睡眠带已经被{{vm.tenant_name}}使用;
                            span.text-danger(ng-show="utils.vinput(this.theForm,'name','name')") {{ "validator.FORMAT" | translate:{item:"睡眠带编号"} }}
                        .col-md-2
                            a.btn.btn-sm(ng-class="{'btn-primary':vm.tenant_name===undefined ,'btn-success':vm.tenant_name===false,'btn-danger':vm.tenant_name}",ng-click="vm.isBedMonitorUsed()") {{ vm.viewTranslatePath('TAB1-LABEL-CHECK_DEB_MONITOR_NAME') | translate}}
                                i.fa.fa-check-circle-o.fa-lg(ng-show="vm.tenant_name===false")
                                i.fa.fa-minus-circle.fa-lg(ng-show="vm.tenant_name")
                    fieldset: .form-group
                        <!--MAC-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-MAC') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='mac',ng-model='vm.model.mac',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-MAC")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'mac','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-FLAG-COLLECTION') | translate}}:
                        .col-md-2
                            .checkbox.c-checkbox
                                label
                                    input#stopFlag(type='checkbox',ng-model='vm.model.stop_flag')
                                    span.fa.fa-check
                            label(for="stopFlag") {{ vm.viewTranslatePath('TAB1-LABEL-STOP_FLAG') | translate}}
                    fieldset: .form-group(ng-if="vm._action_ !== 'add' ")
                        <!--设备状态-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-DEVICE_STATUS') | translate}}:
                        .col-md-10
                            .form-readable {{vm.model.device_status_name}}
    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}