.col-lg-3.col-sm-6
   .panel.widget.bg-primary
      .row.row-table
         .col-xs-4.text-center.bg-primary-dark.pv-lg
            em.icon-user.fa-3x
         .col-xs-8.pv-lg
            .h2.mt0 {{ vm.viewTranslatePath('MING_ZHONG_HEALTH_CARE') | translate}}
