form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.moduleTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--机构名称-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-TENANT_NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='tenant_name',ng-model='vm.tenant_name' ,required='' )
                            span.text-danger(ng-show="utils.vinput(this.theForm,'tenant_name','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--机构负责人姓名-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-HEAD_OF_AGENCY_NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='head_of_agency_name',ng-model='vm.head_of_agency.name' ,required='' )
                            span.text-danger(ng-show="utils.vinput(this.theForm,'head_of_agency_name','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-HEAD_OF_AGENCY_PHONE') | translate}}:
                        .col-md-10
                            input.form-control(type='text',name='head_of_agency_phone' , ng-model='vm.head_of_agency.phone',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-MULTIPLE_PHONES")|translate}}' ,required='' ,ui-validate="{phone: 'utils.isPhones($value)'}" )
                            span.text-danger(ng-show="utils.vinput(this.theForm,'head_of_agency_phone','required')") {{ "validator.REQUIRED" | translate}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'head_of_agency_phone','phone')") {{ "validator.FORMAT" | translate:{item:"手机号码"} }}
                    fieldset: .form-group
                        <!--睡眠带超时时间（分）-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT') | translate}}:
                        .col-md-10
                            input.form-control(type='number', name='psn_bed_monitor_timeout',ng-model='vm.other_configs.psn_bed_monitor_timeout',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT")|translate}}' ,required='',ui-validate="'$value>=5'" )
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_bed_monitor_timeout','required')") {{ "validator.REQUIRED" | translate}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_bed_monitor_timeout','validator')") {{ "validator.MIN" | translate:{min:5} }}
                    fieldset: .form-group
                        <!--睡眠带超时报警开始时间-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT_ALARM_BRGIN') | translate}}:
                        .col-md-10
                            input.form-control(type='text', ng-minlength=5,ng-maxlength=5,name='psn_bed_monitor_timeout_alarm_begin',ng-model='vm.other_configs.psn_bed_monitor_timeout_alarm_begin',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT_ALARM_BRGIN")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_bed_monitor_timeout_alarm_begin','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--睡眠带超时报警结束时间-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT_ALARM_END') | translate}}:
                        .col-md-10
                            input.form-control(type='text', ng-minlength=5,ng-maxlength=5,name='psn_bed_monitor_timeout_alarm_end',ng-model='vm.other_configs.psn_bed_monitor_timeout_alarm_end',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT_ALARM_END")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_bed_monitor_timeout_alarm_end','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--离床报警模版-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000_SETTING_CONTENT_TEMPLATE') | translate}}:
                        .col-md-10
                            input.form-control(type='text',name='pub_alarm_D3016_A1000_setting-content_template',ng-model='vm.pub_alarm_D3016_A1000_setting.content_template',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-ALARM_D3016_A1000_SETTING_CONTENT_TEMPLATE")|translate}}' ,required="")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'pub_alarm_D3016_A1000_setting-content_template','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--离床报警级别-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000_SETTING_LEVEL') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='pub_alarm_D3016_A1000_setting_level',ng-repeat='level in vm.selectBinding.alarm_levels',ng-model='vm.pub_alarm_D3016_A1000_setting.level',btn-radio="level.value",required='') {{level.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'pub_alarm_D3016_A1000_setting_level','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--离床报警方式-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000_SETTING_MODES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="mode in vm.selectBinding.alarm_modes ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="D3016_A1000_{{mode.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A1000_setting_modes[mode.value]')
                                        span.fa.fa-check
                                label(for="D3016_A1000_{{mode.value}}" ) {{ mode.name}}
                    fieldset(ng-if="vm.pub_alarm_D3016_A1000_setting_modes['A0001']"): .form-group
                        <!--离床报警方式A0001机器人接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000_SETTING_MODE_A0001_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0001_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A1000_MODE_A0001_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A1000_modes_receivers_obj["A0001"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A1000_MODE_A0001_{{receiver_type.value}}" ) {{ receiver_type.name}}
                    fieldset(ng-if="vm.pub_alarm_D3016_A1000_setting_modes['A0003']"): .form-group
                        <!--离床报警方式A0003电话自助接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000_SETTING_MODE_A0003_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0003_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A1000_MODE_A0003_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A1000_modes_receivers_obj["A0003"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A1000_MODE_A0003_{{receiver_type.value}}" ) {{ receiver_type.name}}
                            div(ng-if='vm.pub_alarm_D3016_A1000_modes_receivers_obj["A0003"]["A3001"]')
                                input.form-control(type='text', name='alarm_d3016_a1000_mode_a0003_a3001_value',ng-model='vm.pub_alarm_D3016_A1000_modes_receivers_value["A0003"]["A3001"]' ,placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-MULTIPLE_PHONES")|translate}}', required='' ,ui-validate="{phone: 'utils.isPhones($value)'}" )
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a1000_mode_a0003_a3001_value','required')") {{ "validator.REQUIRED" | translate}}
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a1000_mode_a0003_a3001_value','phone')") {{ "validator.FORMAT" | translate:{item:"手机号码"} }}
                    fieldset(ng-if="vm.pub_alarm_D3016_A1000_setting_modes['A0005']"): .form-group
                        <!--离床报警方式A0005短信发送接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000_SETTING_MODE_A0005_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0005_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A1000_MODE_A0005_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A1000_modes_receivers_obj["A0005"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A1000_MODE_A0005_{{receiver_type.value}}" ) {{ receiver_type.name}}
                            div(ng-if='vm.pub_alarm_D3016_A1000_modes_receivers_obj["A0005"]["A3001"]')
                                input.form-control(type='text', name='alarm_d3016_a1000_mode_a0005_a3001_value',ng-model='vm.pub_alarm_D3016_A1000_modes_receivers_value["A0005"]["A3001"]' ,placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-MULTIPLE_PHONES")|translate}}', required='',ui-validate="{phone: 'utils.isPhones($value)'}"  )
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a1000_mode_a0005_a3001_value','required')") {{ "validator.REQUIRED" | translate}}
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a1000_mode_a0005_a3001_value','phone')") {{ "validator.FORMAT" | translate:{item:"手机号码"} }}
                    fieldset(ng-if="vm.pub_alarm_D3016_A1000_setting_modes['A0007']"): .form-group
                        <!--离床报警方式A0007微信推送接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000_SETTING_MODE_A0005_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0007_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A1000_MODE_A0007_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A1000_modes_receivers_obj["A0007"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A1000_MODE_A0007_{{receiver_type.value}}" ) {{ receiver_type.name}}
                    fieldset: .form-group
                        <!--药品低库存警戒线-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-DRUG_STOCK_ALARM_LOW_DAY') | translate}}:
                        .col-md-10
                            input.form-control(type='number',name='psn_drug_stock_alarm_low_day',ng-model='vm.other_configs.psn_drug_stock_alarm_low_day',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-DRUG_STOCK_ALARM_LOW_DAY")|translate}}',ui-validate='{min:"$value>=0", max:"$value<=50"}')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_drug_stock_alarm_low_day','number')") {{ "validator.NUMBER" | translate}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_drug_stock_alarm_low_day','min')") {{ "validator.MIN" | translate:{min:0} }}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_drug_stock_alarm_low_day','max')") {{ "validator.MAX" | translate:{max:50} }}
                    fieldset: .form-group
                        <!--药品低库存通知模版-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A2000_SETTING_CONTENT_TEMPLATE') | translate}}:
                        .col-md-10
                            input.form-control(type='text',name='pub_alarm_D3016_A2000_setting-content_template',ng-model='vm.pub_alarm_D3016_A2000_setting.content_template',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-ALARM_D3016_A2000_SETTING_CONTENT_TEMPLATE")|translate}}' ,required="")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'pub_alarm_D3016_A2000_setting-content_template','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--药品低库存通知级别-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A2000_SETTING_LEVEL') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='pub_alarm_D3016_A2000_setting_level',ng-repeat='level in vm.selectBinding.alarm_levels',ng-model='vm.pub_alarm_D3016_A2000_setting.level',btn-radio="level.value",required='') {{level.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'pub_alarm_D3016_A2000_setting_level','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--药品低库存通知方式-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A2000_SETTING_MODES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="mode in vm.selectBinding.alarm_modes ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="D3016_A2000_{{mode.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A2000_setting_modes[mode.value]')
                                        span.fa.fa-check
                                label(for="D3016_A2000_{{mode.value}}" ) {{ mode.name}}
                    fieldset(ng-if="vm.pub_alarm_D3016_A2000_setting_modes['A0001']"): .form-group
                        <!--药品低库存通知A0001机器人接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A2000_SETTING_MODE_A0001_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0001_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A2000_MODE_A0001_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A2000_modes_receivers_obj["A0001"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A2000_MODE_A0001_{{receiver_type.value}}" ) {{ receiver_type.name}}
                    fieldset(ng-if="vm.pub_alarm_D3016_A2000_setting_modes['A0003']"): .form-group
                        <!--药品低库存通知A0003电话自助接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A2000_SETTING_MODE_A0003_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0003_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A2000_MODE_A0003_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A2000_modes_receivers_obj["A0003"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A2000_MODE_A0003_{{receiver_type.value}}" ) {{ receiver_type.name}}
                            div(ng-if='vm.pub_alarm_D3016_A2000_modes_receivers_obj["A0003"]["A3001"]')
                                input.form-control(type='text', name='alarm_d3016_a2000_mode_a0003_a3001_value',ng-model='vm.pub_alarm_D3016_A2000_modes_receivers_value["A0003"]["A3001"]' , placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-MULTIPLE_PHONES")|translate}}', required='' ,ui-validate="{phone: 'utils.isPhones($value)'}" )
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a2000_mode_a0003_a3001_value','required')") {{ "validator.REQUIRED" | translate}}
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a2000_mode_a0003_a3001_value','phone')") {{ "validator.FORMAT" | translate:{item:"手机号码"} }}
                    fieldset(ng-if="vm.pub_alarm_D3016_A2000_setting_modes['A0005']"): .form-group
                        <!--药品低库存通知A0005短信发送接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A2000_SETTING_MODE_A0005_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0005_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A2000_MODE_A0005_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A2000_modes_receivers_obj["A0005"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A2000_MODE_A0005_{{receiver_type.value}}" ) {{ receiver_type.name}}
                            div(ng-if='vm.pub_alarm_D3016_A2000_modes_receivers_obj["A0005"]["A3001"]')
                                input.form-control(type='text', name='alarm_d3016_a2000_mode_a0005_a3001_value',ng-model='vm.pub_alarm_D3016_A2000_modes_receivers_value["A0005"]["A3001"]' ,placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-MULTIPLE_PHONES")|translate}}', required='' ,ui-validate="{phone: 'utils.isPhones($value)'}" )
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a2000_mode_a0005_a3001_value','required')") {{ "validator.REQUIRED" | translate}}
                                span.text-danger(ng-show="utils.vinput(this.theForm,'alarm_d3016_a2000_mode_a0005_a3001_value','phone')") {{ "validator.FORMAT" | translate:{item:"手机号码"} }}
                    fieldset(ng-if="vm.pub_alarm_D3016_A2000_setting_modes['A0007']"): .form-group
                        <!--药品低库存通知A0007微信推送接收者-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A2000_SETTING_MODE_A0007_RECEIVER_TYPES') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="receiver_type in vm.selectBinding.alarm_mode_A0007_receiver_types ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="ALARM_D3016_A2000_MODE_A0007_{{receiver_type.value}}" type='checkbox',ng-model='vm.pub_alarm_D3016_A2000_modes_receivers_obj["A0007"][receiver_type.value]')
                                        span.fa.fa-check
                                label(for="ALARM_D3016_A2000_MODE_A0007_{{receiver_type.value}}" ) {{ receiver_type.name}}
                    fieldset: .form-group
                        <!--药品入库时检查效期-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-FLAG-COLLECTION') | translate}}:
                        .col-md-2
                            .checkbox.c-checkbox
                                label
                                    input#drugInStockExpireDateCheckFlag(type='checkbox',ng-model='vm.other_configs.psn_drug_in_stock_expire_date_check_flag')
                                    span.fa.fa-check
                            label(for="drugInStockExpireDateCheckFlag") {{ vm.moduleTranslatePath('TAB1-LABEL-PSN_DRUG_IN_STOCK_EXPIRE_DATE_CHECK_FLAG') | translate}}
                    fieldset: .form-group
                        <!--评估周期（月）-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ASSESSMENT_REGULAR_PERIOD') | translate}}:
                        .col-md-10
                            input.form-control(type='number',name='pub_assessment_regular_period',ng-model='vm.other_configs.pub_assessment_regular_period',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-ASSESSMENT_REGULAR_PERIOD")|translate}}',ui-validate="'$value>=1'")
                            span.text-danger(ng-show="utils.vinput(this.theForm,'pub_assessment_regular_period','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--订餐模式-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-MEAL_BIZ_MODE') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='meal_biz_mode',ng-repeat='mode in vm.selectBinding.meal_biz_mode',ng-model='vm.other_configs.psn_meal_biz_mode',btn-radio="mode.value",required='') {{mode.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'meal_biz_mode','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--订餐开放时段-->
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-MEAL_PERIODS') | translate}}:
                        .col-md-10
                            .check-list-item(ng-repeat="period in vm.selectBinding.meal_periods ")
                                .checkbox.c-checkbox
                                    label
                                        input(id="meal_period_{{period.value}}" type='checkbox',ng-true-value="'{{period.value}}'", ng-model='vm.other_configs.psn_meal_periods[$index]')
                                        span.fa.fa-check
                                label(for="meal_period_{{period.value}}" ) {{ period.name}}
    .text-right.mt-lg
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}