form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.moduleTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT') | translate}}:
                        .col-md-10
                            input.form-control(type='number', name='psn_bed_monitor_timeout',ng-model='vm.other_configs.psn_bed_monitor_timeout',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT")|translate}}' ,required='',ui-validate="'$value>=1'" )
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_bed_monitor_timeout','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT_ALARM_BRGIN') | translate}}:
                        .col-md-10
                            input.form-control(type='text', ng-minlength=5,ng-maxlength=5,name='psn_bed_monitor_timeout_alarm_begin',ng-model='vm.other_configs.psn_bed_monitor_timeout_alarm_begin',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT_ALARM_BRGIN")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_bed_monitor_timeout_alarm_begin','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-BED_MONITOR_TIMEOUT_ALARM_END') | translate}}:
                        .col-md-10
                            input.form-control(type='text', ng-minlength=5,ng-maxlength=5,name='psn_bed_monitor_timeout_alarm_end',ng-model='vm.other_configs.psn_bed_monitor_timeout_alarm_end',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-BED_MONITOR_TIMEOUT_ALARM_END")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'psn_bed_monitor_timeout_alarm_end','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        label.col-md-2.control-label {{ vm.moduleTranslatePath('TAB1-LABEL-ALARM_D3016_A1000') | translate}}:
                        .col-md-10
                            input.form-control(type='text',name='pub_alarm_D3016_A1000',ng-model='vm.other_configs.pub_alarm_D3016_A1000',placeholder='{{vm.moduleTranslatePath("TAB1-PLACEHOLDER-ALARM_D3016_A1000")|translate}}')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'pub_alarm_D3016_A1000','required')") {{ "validator.REQUIRED" | translate}}
    .text-right.mt-lg
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}