script(type='text/ng-template', id="dlg-backfiller-demo-pick.html")
    .ngdialog-title
        i.glyphicon.glyphicon-info-sign
        | {{ vm.title }}
    .ngdialog-body.backfiller
        .search-form
            .col-md-6
            .col-md-5
                .input-group.page-search
                    label.input-group-addon {{'grid.LABEL-SEARACH'|translate}}
                    input.form-control(type="text",ng-model="vm.keyword")
            .col-md-1
                a.btn.btn-primary.btn-sm(title="{{'button.SEARCH'|translate}}",ng-click="vm.search(vm.keyword)")
                    i.glyphicon.glyphicon-search
            .clearfix
        .search-content
            .panel.panel-grid
                table.grid.table.table-bordered.table-hover.table-striped.table-responsive
                    thead
                        colgroup
                            col.text-center(ng-repeat="column in vm.columns", width="{{column|width}}")
                        tr
                            th.text-center(ng-repeat="column in vm.columns") {{column.label}}
                    tbody
                        tr(ng-repeat="row in vm.rows|filter:vm.filter|paging:vm", ng-dblclick="vm.pickOne(row)")
                            td(ng-repeat="column in vm.columns") {{::row[column.name] }}
        .col-md-12
            pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true")
.col-xs-6
    //.backfiller(backfiller,ng-model="vm.period", fetch-data="vm.fetchDataPromise", picker-url="dlg-backfiller-demo-pick.html", picker-controller="BackfillerDemoPickDialogController", pickerClass="ngdialog-backfiller-demo-picker", on-select="vm.onSelect(row)", on-compare-equal="vm.onCompareEqual(one, other)" , on-search="vm.searchForBackFiller(keyword)") // object customCompareEqual
    //.backfiller(backfiller,ng-model="vm.period", fetch-data="vm.fetchDataPromise", picker-url="dlg-backfiller-demo-pick.html", picker-controller="BackfillerDemoPickDialogController", pickerClass="ngdialog-backfiller-demo-picker", on-select="vm.onSelect(row)" , on-search="vm.searchForBackFiller(keyword)") //object defaultCompareEqual
    .backfiller(backfiller,ng-model="vm.period", fetch-rows="vm.fetchRowsPromise", fetch-columns="vm.fetchColumnsPromise", picker-title="D1013数据", picker-url="dlg-backfiller-demo-pick.html", picker-controller="BackfillerDemoPickDialogController", picker-class="ngdialog-backfiller-demo-picker", value-key="value", on-select="vm.onSelect(row)", page="vm.page", on-search="vm.searchForBackFiller(keyword)") //string
    div selected:{{vm.period}}
    div on select :{{vm.selected}}
    button.btn(ng-click="vm.makeEmpty()") 清空选择
.col-xs-6
    //.backfiller(backfiller,ng-model="vm.period", fetch-data="vm.fetchDataPromise", on-select="vm.onSelect(row)", on-compare-equal="vm.onCompareEqual(one, other)") // object customCompareEqual
    //.backfiller(backfiller,ng-model="vm.period", fetch-data="vm.fetchDataPromise", on-select="vm.onSelect(row)") //object defaultCompareEqual
    .backfiller(backfiller,ng-model="vm.period2", fetch-rows="vm.fetchRowsPromise2", fetch-columns="vm.fetchColumnsPromise2", picker-title="D1005数据", value-key="value", on-select="vm.onSelect2(row)" ,  on-search="vm.searchForBackFiller2(keyword)") //string
    div selected:{{vm.period2}}
    div on select :{{vm.selected2}}
    button.btn(ng-click="vm.makeEmpty2()") 清空选择