// create zhangsx on 17-3-22 
 
.col-xs-12.text-center
    .row
        form.form-search
            .input-group.pull-right.page-search
                label.input-group-addon {{'grid.LABEL-SEARACH'|translate}}
                input.form-control(type="text",ng-model="vm.filter.$")
    .row-split
    .row
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th.text-center(check-all,width="30")
                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                label(ng-click="vm.selectAll($event)")
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
                tbody
                    tr(ng-repeat="row in vm.rows|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm" , ng-click="vm.selectRow($event,row)",ng-dblclick="vm.dblclickRow(row.id)")
                        td
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                    span.fa.fa-check(data="trBubble")
                        td.text-center {{::row.barcode}}
                        td.text-center {{::row.name}}
                        td {{::row.otc_flag|boolFilter}}
                        td {{::row.medical_insurance_flag|boolFilter}}
                        td {{::row.reference_price | currency}}
                        td {{::row.specification}}
                        td
                            .btn-group
                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.edit(row._id)")
                                    i.glyphicon.glyphicon-pencil

                    tr(ng-if="vm.paged.length==0")
                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
            .panel-footer
                .row
                    .col-md-4.text-left
                        .btn-toolbar
                            .btn-group
                                a.btn.btn-primary.btn-sm(title="{{'button.ADD'|translate}}",ng-click="vm.add()")
                                    i.glyphicon.glyphicon-plus
                                a.btn.btn-primary.btn-sm(title="{{'button.REMOVE'|translate}}",ng-click="vm.remove()")
                                    i.glyphicon.glyphicon-minus
                            .btn-group
                                a.btn.btn-primary.btn-sm(ng-click="vm.openImportDialog()") {{ vm.viewTranslatePath('BTN-IMPORT-DRUG-DIALOG') | translate}}
                            .btn-group
                                a.btn.btn-warning.btn-sm(ng-click="vm.openExportToTenantDialog()") {{ vm.viewTranslatePath('BTN-SYNC-TO-TENANT-DIALOG') | translate}}
                    .col-md-8
                        pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true" ,ng-change="vm.paging()")
script(type='text/ng-template', id="dlg-drug-import-file-pick.html")
    .ngdialog-title
        | {{ vm.translatePath('TITLE') | translate }}
    .ngdialog-body(block-ui="import-drug")
        .tree.tree-basic(s-tree,s-tree-data="vm.drugImportExcelsPromise",s-tree-height="240", s-tree-option="{mode:'grid'}", s-tree-template-url='tree-directive-default-renderer.html',ng-model="vm.toImport")
        .col-md-6.pull-right.text-right.mt
            button.btn.btn-success(ng-click="vm.importSelected()") {{'button.CONFIRM'|translate}}
script(type='text/ng-template', id="dlg-drug-sync-to-tenant-pick.html")
    .ngdialog-title
        | {{ vm.translatePath('TITLE') | translate }}
    .ngdialog-body(block-ui="sync-to-tenant")
        .tree.tree-basic(s-tree,s-tree-data="vm.drugSyncToTenantPromise",s-tree-height="420", s-tree-option="{mode:'grid'}", s-tree-template-url='tree-directive-default-renderer.html',ng-model="vm.toSyncTenant")
        .col-md-6.pull-right.text-right.mt
            button.btn.btn-success(ng-click="vm.syncSelected()") {{'button.CONFIRM'|translate}}